name: publish-npm
on:
  push:
    branches:
      - main

jobs:
  publish:
    name: Publish to NPM Package Registry
    runs-on: ubuntu-latest

    permissions:
      contents: read
      id-token: write # needed for Trusted Publishing
    
    steps:
      - name: Checkout repository
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6
        with:
          ref: main
      # limit releases to version changes - https://github.com/EndBug/version-check
      - name: Check version changes
        uses: EndBug/version-check@d17247dd94ca7b39d0b0691399be8d7c510622c9 # v2
        id: version_check
        with:
          # diff the commits rather than commit message for version changes
          diff-search: true

      - name: Version update detected
        if: steps.version_check.outputs.changed == 'true'
        env:
          VERSION: ${{ steps.version_check.outputs.version }} (${{ steps.version_check.outputs.type }})
        run: 'echo "Version change found! New version: $VERSION"'

      - name: Setup .npmrc file for NPM registry
        if: steps.version_check.outputs.changed == 'true'
        uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6.2.0
        with:
          node-version-file: '.nvmrc'
          scope: '@grafana'
          registry-url: 'https://registry.npmjs.org'
          
      - name: Install dependencies
        if: steps.version_check.outputs.changed == 'true'
        run: npm ci

      - name: Build library
        if: steps.version_check.outputs.changed == 'true'
        run: npm run build
        
      - name: Ensure npm latest version #needed for Trusted Publishing
        if: steps.version_check.outputs.changed == 'true'
        run: npm install -g npm@latest
        
      - name: Publish package to NPM
        if: steps.version_check.outputs.changed == 'true'
        run: npm publish ./dist --access public
