name: publish-npm
on:
  push:
    branches:
      - main

jobs:
  publish:
    name: Publish to NPM Package Registry
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v2
        with:
          ref: main
      # limit releases to version changes - https://github.com/EndBug/version-check
      - name: Check version changes
        uses: EndBug/version-check@v1
        id: version_check
        with:
          # diff the commits rather than commit message for version changes
          diff-search: true

      - name: Version update detected
        if: steps.version_check.outputs.changed == 'true'
        env:
          VERSION: ${{ steps.version_check.outputs.version }} (${{ steps.version_check.outputs.type }})
        run: 'echo "Version change found! New version: $VERSION"'

      - name: Setup .npmrc file for NPM registry
        if: steps.version_check.outputs.changed == 'true'
        uses: actions/setup-node@v2
        with:
          node-version: "14"
          registry-url: "https://registry.npmjs.org"

      - name: Install dependencies
        if: steps.version_check.outputs.changed == 'true'
        run: yarn

      - name: Build library
        if: steps.version_check.outputs.changed == 'true'
        run: yarn build

      - id: get-secrets
        name: get secrets
        uses: grafana/shared-workflows/actions/get-vault-secrets@5d7e361bc7e0a183cde8afe9899fb7b596d2659b
        with:
          # ci/repo/grafana/<repo> automatically in the path and can be omitted
          # Secrets placed in the ci/repo/grafana/<repo>/<path> path in Vault
          repo_secrets: |
            NPM_TOKEN=secrets:NPM_TOKEN

      - name: Publish package to NPM
        if: steps.version_check.outputs.changed == 'true'
        run: npm publish ./dist --access public
        env:
          NODE_AUTH_TOKEN: ${{ env.NPM_TOKEN }}
